@model EventBookingSystem.Models.Venue

@{
    ViewData["Title"] = "Create Venue";
}

<h1>Create Venue</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="VenueName">Venue Name</label>
        <input type="text" required class="form-control" id="VenueName" name="VenueName" />
        <span asp-validation-for="VenueName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="Location">Location</label>
        <input type="text" required class="form-control" id="Location" name="Location" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="Capacity">Capacity</label>
        <input type="number" required class="form-control" id="Capacity" name="Capacity" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="imageFile">Venue Image</label>
        <input type="file" class="form-control" id="imageFile" name="imageFile" required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2">Create</button>
        <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
    </div>
</form>